.amp-stream-skin .vjs-loading-spinner {
  background: none;

}
.amp-stream-skin .vjs-loading-spinner:before {
  background: none !important;
  content: "";
}
.amp-stream-skin .vjs-loading-spinner:after {
  background: none !important;
  content: "";
}
.amp-stream-skin .vjs-loading-spinner .c-progress > span:after {
  background: white;
}

.azuremediaplayer .vjs-tech {
  position: absolute;
  top: 0;
  left: 0;
}

.azuremediaplayer-container {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
}

.amp-stream-skin .vjs-play-progress {
  background-color: #1ABC9C;
  background: #1ABC9C;
}
.amp-stream-skin .vjs-play-progress:after {
  display: block !important;
  height: 12px;
  width: 4px;
  margin: -6px 0 0 -2px;
}
.amp-stream-skin .vjs-play-progress.vjs-slider-bar:after {
  display: block !important;
  height: 12px;
  width: 4px;
  margin: -6px 0 0 -2px;
}

.amp-stream-skin .vjs-progress-holder {
  background: rgba(108, 115, 122, 0.6);
  background-color: rgba(108, 115, 122, 0.6);
}


.amp-default-skin .amp-playbackspeed-control-fast::before {
  color: #1ABC9C;
}

.amp-default-skin .vjs-volume-control .vjs-volume-bar .vjs-volume-level {
  background: #1ABC9C;
}

.amp-stream-skin .vjs-load-progress {
  background: rgba(25, 188, 156, 0.4);
}

.amp-stream-skin .vjs-slider-handle::before {
  border-radius: 0;
  -moz-border-radius: 0;
  width: 1px;
  outline: none;
  margin-left: 0px;
}

.amp-default-skin .vjs-slider-handle::before:focus {
  outline: none;
}

.amp-default-skin:hover .vjs-slider-handle::before {
  border-radius: 0;
  -moz-border-radius: 0;
  width: 1px;
}

.amp-stream-skin .vjs-control-bar {
  background-color: rgba(31, 26, 26, 0.75);
}



.amp-timeline-marker {
  position: absolute;
  background-color: #16A085;
  width: 4px;
  height: auto;
}

.amp-stream-skin .vjs-big-play-button {
  left: 2.6em;
  top: 1.2em;
}

.amp-stream-skin .vjs-progress-control {
  padding: 0px;
}



