.DS_Store
/.vs

# Ignore variables
tfoutput.json
output.json
Test-*-Pester.xml
.terraform.lock.hcl

#Ignore python virtualenv
.venv

# Ignore test output from xunit
**/Test-*.xml
*Test_*.txt
testlogs/
.env
*.mof
infra/docker_vm/dsc_config.zip
scripts/testfile_generator/testdata_batch/*.*
